:root {
	--application__black: #000000;
}

.application {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	padding: 15px;
	padding-bottom: 25px;
}

.application__heading {
	font-size: 30px;
	color: var(--application__black);
	line-height: 40px;
	margin-bottom: 20px;
}

.application__paragraph {
	font-size: 18px;
	color: var(--application__black);
	line-height: 23px;
	margin-bottom: 20px;
}

.application__selection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	margin-bottom: 26px;
}

.application__checkbox-wrapper {
	align-items: center;
	color: var(--application__black);
	display: flex;
	font-size: 18px;
	letter-spacing: 0.1px;
	line-height: 23px;
	position: relative;
}

.application__checkbox-input {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(checkbox_big_frame.svg);
	border-radius: 5.33px;
	margin: 0;
	height: 32px;
	margin-right: 10px;
	width: 32px;
}

.application__checkbox {
	background-image: url(checkmark.svg);
	background-size: cover;
	height: 18px;
	left: 4px;
	position: absolute;
	top: 8px;
	transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	opacity: 0;
	width: 24px;
}

.application__checkbox-input:checked + .application__checkbox {
	opacity: 1;
}

.application__checkbox-input:not(:checked) + .application__checkbox {
	opacity: 0;
}

.application__content-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.application__image {
	position: absolute;
	top: 0;
	opacity: 0;
}

.application__active {
	transition: opacity 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.application__bg {
	position: absolute;
	z-index: -1;
}

.application__initial {
	opacity: 1;
}

.application__image-container {
	position: relative;
}

.application__image-position {
	opacity: 0;
}

@media screen and (min-width: 810px) {
	.application {
		grid-gap: 22px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 18px;
	}

	.application__heading {
		grid-column: span 4;
	}

	.application__paragraph {
		grid-column: 5 / 13;
		max-width: 506px;
	}

	.application__checkbox-wrapper {
		margin-right: 20px;
	}

	.application__selection {
		display: flex;
		flex-direction: row;
		grid-column: 1 / -1;
		gap: 9px;
		margin-bottom: 0;
	}

	.application__hr {
		grid-column: 1 / -1;
		margin-top: -7px;
	}

	.application__checkbox-input {
		background-image: url(checkbox_frame.svg);
		border-radius: 4px;
		height: 24px;
		width: 24px;
	}

	.application__checkbox {
		height: 12px;
		left: 4px;
		top: 7px;
		width: 16px;
	}

	.application__content-container {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 22px;
		grid-column: 1 / -1;
		margin-top: 9px;
	}
}

@media screen and (min-width: 1200px) {
	.application {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 20px;
	}

	.application__paragraph {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.application {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 50px;
		padding: 50px;
	}

	.application__hr {
		margin-top: -30px;
	}

	.application__content-container {
		margin-top: -31px;
	}
}

@media screen and (min-width: 1600px) {
	.application {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 52px;
	}
}

@media screen and (min-width: 1920px) {
	.application__heading {
		font-size: 34px;
		color: var(--application__black);
		margin-bottom: 12px;
	}

	.application {
		grid-gap: 52px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}

	.application__heading {
		text-align: left;
		line-height: 40px;
		grid-column: span 4;
	}
	.application__selection {
		margin-top: -2px;
		grid-column: 5 / 12;
	}

	.application__paragraph {
		grid-column: 5 / 9;
		max-width: none;
	}

	.application__hr {
		grid-column: 5 / 13;
		margin-top: -40px;
	}

	.application__content-container {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 52px;
		grid-column: 1 / -1;
		margin-top: -18.9px;
	}
}

@media screen and (min-width: 2600px) {
	.application {
		grid-gap: 70px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 0 68px;
	}

	.application__selection {
		margin-top: -22px;
	}
}
