:root {
	--size__bg: #143275;
	--size__white: #ffffff;
}

.size__grid {
	background-color: var(--size__bg);
	color: var(--size__white);
	display: grid;
	grid-gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	padding: 30px 15px;
}

.size__print,
.size__digital {
	grid-column: 1 / -1;
}

.size__digital {
	display: none;
	opacity: 0;
}

.size__active {
	transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.size__heading {
	font-size: 34px;
	line-height: 40px;
	grid-column: 1 / 3;
}

hr.size__hr {
	border-color: var(--size__white);
	border-top-width: 1px;
	margin: 20px 0 10px;
}

hr.size__hr--desktop {
	display: none;
}

.size__button-container {
	align-items: center;
	grid-column: 3 / 7;
	display: flex;
	flex-direction: row;
}

.size__button-container label:first-of-type {
	margin-right: 40px;
}

.size__radio {
	background-image: url(oval_small.svg);
	height: 16px;
	left: 4px;
	top: 4px;
	width: 16px;
	height: 16px;
	position: absolute;
	opacity: 1;
	transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1),
		transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	pointer-events: none;
}

.size__radio-button:checked + .size__radio {
	transform: scale(1);
	opacity: 1;
}

.size__radio-button:not(:checked) + .size__radio {
	transform: scale(0);
	opacity: 0;
}

.size__radio-button-wrapper {
	align-items: center;
	display: flex;
	font-size: 18px;
	height: 24px;
	letter-spacing: 0.29px;
	position: relative;
}

.size__radio-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--size__bg);
	border: 1px solid var(--size__white);
	border-radius: 50%;
	margin: 0;
	height: 24px;
	margin-right: 10px;
	width: 24px;
}

.size__text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-column: 1 / -1;
	margin-bottom: 30px;
}

.size__first-hr {
	grid-column: 1 / -1;
	margin-top: -5px;
	margin-bottom: 17px;
	border-color: var(--size__white);
}

.size__paragraph {
	font-family: 'Shape Sans Light';
	font-size: 18px;
	letter-spacing: -0.03px;
	line-height: 20px;
	width: 245px;
}

.size__print.size__text-selection h1 {
	font-size: 40px;
	line-height: 42.5px;
}

.size__digital.size__text-selection h1 {
	font-size: 40px;
	line-height: 42.5px;
}

.size__border-bottom {
	border-bottom: 1px solid var(--size__white);
	margin-bottom: 6px;
	padding-bottom: 9px;
}

.size__print.size__text-selection h2 {
	font-size: 28px;
	line-height: 30x;
}

.size__digital.size__text-selection h2 {
	font-size: 28px;
	line-height: 30x;
}

.size__print.size__text-selection h3 {
	font-size: 21.5px;
	line-height: 23px;
}

.size__digital.size__text-selection h3 {
	font-size: 21.5px;
	line-height: 23px;
}

.size__print.size__text-selection h4 {
	font-size: 14px;
	line-height: 15px;
}

.size__digital.size__text-selection h4 {
	font-size: 14px;
	line-height: 15px;
}

.size__print.size__text-selection .size__first-paragraph {
	font-size: 7px;
	line-height: 8px;
}

.size__digital.size__text-selection .size__first-paragraph {
	font-size: 7px;
	line-height: 8px;
}

.size__print.size__text-selection .size__second-paragraph {
	font-size: 4.5px;
	line-height: 5.5px;
}

.size__digital.size__text-selection .size__second-paragraph {
	font-size: 4.5px;
	line-height: 5.5px;
}

.size__print.size__text-selection .size__third-paragraph {
	font-size: 3.5px;
	line-height: 4.5px;
}

.size__digital.size__text-selection .size__third-paragraph {
	font-size: 3.5px;
	line-height: 4.5px;
}

@media screen and (min-width: 810px) {
	.size__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 16px;
		margin: 0;
	}

	.size__first-hr {
		margin-top: -12px;
	}

	.size__button-container {
		grid-column: 10 / 13;
	}

	.size__print.size__text-selection h1 {
		font-size: 80px;
		line-height: 85px;
	}

	.size__digital.size__text-selection h1 {
		font-size: 80px;
		line-height: 85px;
	}

	.size__print.size__text-selection h2 {
		font-size: 56px;
		line-height: 60px;
	}

	.size__digital.size__text-selection h2 {
		font-size: 56px;
		line-height: 60px;
	}

	.size__print.size__text-selection h3 {
		font-size: 43px;
		line-height: 46px;
	}

	.size__digital.size__text-selection h3 {
		font-size: 43px;
		line-height: 46px;
	}

	.size__print.size__text-selection h4 {
		font-size: 28px;
		line-height: 30px;
	}
	.size__digital.size__text-selection h4 {
		font-size: 28px;
		line-height: 30px;
	}

	.size__print.size__text-selection .size__first-paragraph {
		font-size: 14px;
		line-height: 16px;
	}

	.size__digital.size__text-selection .size__first-paragraph {
		font-size: 14px;
		line-height: 16px;
	}

	.size__print.size__text-selection .size__second-paragraph {
		font-size: 9px;
		line-height: 11px;
	}

	.size__digital.size__text-selection .size__second-paragraph {
		font-size: 9px;
		line-height: 11px;
	}

	.size__print.size__text-selection .size__third-paragraph {
		font-size: 7px;
		line-height: 9px;
	}

	.size__digital.size__text-selection .size__third-paragraph {
		font-size: 7px;
		line-height: 9px;
	}

	.size__border-bottom {
		margin-bottom: 12px;
	}

	.size__paragraph {
		width: 265px;
	}
}

@media screen and (min-width: 1200px) {
	.size__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}

	.size__paragraph {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.size__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 43.2px;
		padding: 50px;
	}
}

@media screen and (min-width: 1600px) {
	.size__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 44px 52px;
	}
}

@media screen and (min-width: 1920px) {
	.size__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}

	.size__first-hr {
		display: none;
	}

	hr.size__hr {
		margin: 0;
	}

	.size__button-container {
		grid-column: 5 / 12;
	}

	.size__print,
	.size__digital {
		grid-column: 5 / 12;
		margin-top: -40px;
	}

	.size__text-container {
		flex-direction: row;
	}

	.size__border-bottom {
		border: none;
		margin: 0;
		padding: 0;
	}

	hr.size__hr--mobile {
		display: none;
	}

	hr.size__hr--desktop {
		display: block;
		margin-bottom: 12px;
	}
}

@media screen and (min-width: 2600px) {
	.size__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}
}
