:root {
	--hierarchy__dark-blue: #143275;
	--hierarchy__middle-blue: hsl(221, 32%, 45%);
	--hierarchy__light-blue: #8998ba;
	--hierarchy__black: #000000;
	--hierarchy__light-green: #3ece7b;
}

.hierarchy__grid {
	background-color: #ffffff;
	color: var(--hierarchy__black);
	display: grid;
	grid-gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	margin: 20px 15px;
}

.hierarchy__heading {
	font-size: 34px;
	color: var(--hierarchy__black);
	line-height: 40px;
	grid-column: 1 / -1;
}

.hierarchy__main-container {
	display: flex;
	justify-content: center;
	height: 278px;
	grid-column: 1 / 1;
	margin-bottom: 29px;
	position: relative;
	z-index: 3;
	width: 345px;
}

.hierarchy__text-containers {
	grid-row: 4;
	position: relative;
	grid-column: 1 / -1;
}

.hierarchy__text-container {
	display: flex;
	font-size: 18px;
	line-height: 23px;
	opacity: 0;
	position: absolute;
	transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	width: 100%;
}

.hierarchy__first-text-container {
	font-size: 18px;
	line-height: 23px;
	grid-column: 1 / -1;
	grid-row: 2;
	margin-bottom: 20px;
}

.hierarchy__trapezoid:hover {
	border-bottom: 93px solid var(--hierarchy__light-green);
}

.hierarchy__trapezoid:hover span {
	color: var(--hierarchy__black);
	user-select: none;
}

.hierarchy__trapezoid {
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 2;
	user-select: none;
	transition: border-bottom 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-tap-highlight-color: transparent;
}

.hierarchy__trapezoid span {
	color: #fff;
	font-size: 15px;
	transition: color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	padding-top: 40px;
}

.hierarchy__trapezoid:focus-visible {
	outline: none;
}

.hierarchy__top-trapezoid {
	bottom: 186px;
	border-bottom: 93px solid var(--hierarchy__dark-blue);
	border-left: 41px solid transparent;
	border-right: 41px solid transparent;
	top: 0;
	width: 181px;
}

.hierarchy__middle-trapezoid {
	bottom: 93px;
	border-bottom: 93px solid var(--hierarchy__middle-blue);
	border-left: 41px solid transparent;
	border-right: 41px solid transparent;
	top: 93px;
	width: 263px;
}

.hierarchy__bottom-trapezoid {
	border-bottom: 93px solid var(--hierarchy__light-blue);
	bottom: 0;
	border-left: 41px solid transparent;
	border-right: 41px solid transparent;
	top: 186px;
	width: 345px;
}

.hierarchy__left-anti-trapezoid {
	bottom: 0;
	top: -35px;
	left: -30px;
	position: absolute;
	z-index: 5;
	transform: rotate(23.5deg);
	width: 95px;
}

.hierarchy__right-anti-trapezoid {
	bottom: 0;
	top: -35px;
	right: -30px;
	position: absolute;
	z-index: 5;
	transform: rotate(-23.5deg);
	width: 95px;
}

.hierarchy__line-container,
.hierarchy__first-position-container,
.hierarchy__second-position-container,
.hierarchy__third-position-container {
	display: none;
}

.hierarchy__mobile-dot {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	height: 32px;
}

.hierarchy__first-text-block .hierarchy__mobile-dot {
	background: var(--hierarchy__dark-blue);
}

.hierarchy__second-text-block .hierarchy__mobile-dot {
	background: var(--hierarchy__middle-blue);
}

.hierarchy__third-text-block .hierarchy__mobile-dot {
	background: var(--hierarchy__light-blue);
}

.hierarchy__mobile-line {
	border-top: 1px solid var(--hierarchy__black);
	margin-top: 1rem;
	width: calc(100% - 240px - 32px);
	margin: 1rem 1rem 0;
}

.hierarchy__text-block-link {
	align-items: center;
	color: var(--hierarchy__dark-blue);
	cursor: pointer;
	display: flex;
	font-size: 18px;
	margin-top: 10px;
}

.hierarchy__text-container-wrapper {
	min-width: 240px;
	width: 100%;
}

.hierarchy__link-image-text {
	position: relative;
}

.hierarchy__link-image-text::after {
	bottom: 3px;
	border-bottom: solid 1px var(--hierarchy__dark-blue);
	content: '';
	display: block;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	transform-origin: 100% 50%;
	width: 100%;
}

.hierarchy__text-block-link:hover .hierarchy__link-image-text::after {
	transform: scale(1);
	transform-origin: 0% 50%;
}

.hierarchy__link-image {
	align-items: center;
	height: 20px;
	margin-right: 10px;
	width: 28px;
}

@media screen and (min-width: 810px) {
	.hierarchy__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 32px 20px;
		margin: 0;
	}

	.hierarchy__mobile-dot,
	.hierarchy__mobile-line {
		display: none;
	}

	.hierarchy__text-container-wrapper {
		transform: translateY(-75%);
		width: auto;
	}

	.hierarchy__first-position-container,
	.hierarchy__second-position-container,
	.hierarchy__third-position-container {
		display: block;
	}

	.hierarchy__line-container {
		grid-column: 5 / 8;
		position: relative;
	}

	.hierarchy__heading {
		grid-column: 1 / 4;
	}

	.hierarchy__first-text-container {
		grid-column: 5 / 13;
		grid-row: 1;
		margin-bottom: 28px;
	}

	.hierarchy__main-container {
		height: 355px;
		width: 440px;
	}

	.hierarchy__trapezoid span {
		padding-top: 50px;
	}

	.hierarchy__top-trapezoid {
		bottom: 240px;
		border-bottom: 120px solid var(--hierarchy__dark-blue);
		border-left: 52px solid transparent;
		border-right: 52px solid transparent;
		top: 0;
		width: 231px;
	}

	.hierarchy__middle-trapezoid {
		bottom: 120px;
		border-bottom: 120px solid var(--hierarchy__middle-blue);
		border-left: 53px solid transparent;
		border-right: 52px solid transparent;
		top: 120px;
		width: 336px;
	}

	.hierarchy__bottom-trapezoid {
		border-bottom: 120px solid var(--hierarchy__light-blue);
		bottom: 0;
		border-left: 52px solid transparent;
		border-right: 52px solid transparent;
		top: 240px;
		width: 440px;
	}

	.hierarchy__trapezoid:hover {
		border-bottom-width: 120px;
	}

	.hierarchy__left-anti-trapezoid {
		top: -50px;
		left: -64px;
		width: 147px;
	}

	.hierarchy__right-anti-trapezoid {
		top: -50px;
		right: -64px;
		width: 147px;
	}

	.hierarchy__first-position-container {
		background: #fff;
		height: 120px;
		left: 116px;
		transform: translateX(-50%);
		position: absolute;
		width: 100%;
	}

	.hierarchy__second-position-container {
		background: #fff;
		height: 120px;
		left: 168px;
		top: 120px;
		transform: translateX(-50%);
		position: absolute;
		width: 100%;
	}

	.hierarchy__third-position-container {
		background: #fff;
		height: 120px;
		left: 222px;
		position: absolute;
		transform: translateX(-50%);
		top: 240px;
		width: 100%;
	}

	.hierarchy__text-containers {
		grid-column: 8 / 12;
		grid-row: 2;
		width: auto;
	}

	.hierarchy__line {
		border-top: 1px solid black;
		position: absolute;
		right: 0;
		opacity: 0;
		transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	}

	.hierarchy__first-line {
		left: -20%;
		width: calc(120% - 15px);
	}

	.hierarchy__second-line {
		right: 15px;
		width: 100%;
	}
	.hierarchy__third-line {
		width: calc(100% - 15px);
	}
}

@media screen and (min-width: 900px) {
	.hierarchy__line-container {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	.hierarchy__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}

	.hierarchy__first-text-container {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.hierarchy__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 43.2px;
		padding: 50px;
	}

	.hierarchy__line-container {
		grid-column: 4 / 8;
	}

	.hierarchy__main-container {
		display: flex;
		height: 720px;
		justify-content: center;
		grid-column-start: 1;
		position: relative;
		z-index: 3;
		width: 850px;
	}

	.hierarchy__text-containers {
		grid-column: 9 / 13;
		grid-row: 2;
		position: relative;
		width: auto;
	}

	.hierarchy__bottom-trapezoid {
		border-bottom: 240px solid var(--hierarchy__light-blue);
		bottom: 0;
		border-left: 99.5px solid transparent;
		border-right: 99.5px solid transparent;
		top: 480px;
		width: 850px;
	}

	.hierarchy__middle-trapezoid {
		bottom: 240px;
		border-bottom: 240px solid var(--hierarchy__middle-blue);
		border-left: 98.5px solid transparent;
		border-right: 98.5px solid transparent;
		top: 240px;
		width: 652px;
	}

	.hierarchy__top-trapezoid {
		bottom: 480px;
		border-bottom: 240px solid var(--hierarchy__dark-blue);
		border-left: 99.5px solid transparent;
		border-right: 99.5px solid transparent;
		top: 0;
		width: 455px;
	}

	.hierarchy__trapezoid:hover {
		border-bottom-width: 240px;
	}

	.hierarchy__trapezoid span {
		padding-top: 106px;
		font-size: 34px;
		line-height: 40px;
	}

	.hierarchy__left-anti-trapezoid {
		border-right: 5px solid transparent;
		bottom: 0;
		top: -120px;
		left: 24px;
		position: absolute;
		z-index: 5;
		transform: rotate(22.2deg);
	}

	.hierarchy__right-anti-trapezoid {
		border-right: 5px solid transparent;
		bottom: 0;
		top: -120px;
		right: 24px;
		position: absolute;
		z-index: 5;
		transform: rotate(-22.2deg);
	}

	.hierarchy__line-container {
		grid-column: 5 / 9;
		margin-left: 150px;
		margin-top: 0;
		position: relative;
	}

	.hierarchy__first-position-container {
		height: 240px;
		left: 228px;
	}

	.hierarchy__second-position-container {
		height: 240px;
		left: 325px;
		top: 240px;
	}

	.hierarchy__third-position-container {
		height: 240px;
		left: 425px;
		top: 480px;
	}

	.hierarchy__text-container {
		font-size: 24px;
		line-height: 30px;
	}
}

@media screen and (min-width: 1600px) {
	.hierarchy__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 52px;
	}
}

@media screen and (min-width: 1920px) {
	.hierarchy__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}

	.hierarchy__trapezoid span {
		padding-top: 130px;
	}

	.hierarchy__first-text-container {
		grid-column: 7 / 13;
	}

	.hierarchy__main-container {
		display: flex;
		height: 840px;
		justify-content: center;
		margin-top: -43.2px;
		grid-column-start: 1;
		position: relative;
		z-index: 3;
		width: 1040px;
	}

	.hierarchy__text-containers {
		grid-column: 9 / 13;
		grid-row: 2;
		position: relative;
		margin-top: -43.2px;
		width: 572px;
	}

	.hierarchy__bottom-trapezoid {
		border-bottom: 280px solid var(--hierarchy__light-blue);
		bottom: 0;
		border-left: 126.5px solid transparent;
		border-right: 126.5px solid transparent;
		top: 560px;
		width: 1040px;
	}

	.hierarchy__trapezoid:hover {
		border-bottom-width: 280px;
	}

	.hierarchy__top-trapezoid {
		bottom: 560px;
		border-bottom: 280px solid var(--hierarchy__dark-blue);
		border-left: 120.5px solid transparent;
		border-right: 120.5px solid transparent;
		top: 0;
		width: 546px;
	}

	.hierarchy__middle-trapezoid {
		bottom: 280px;
		border-bottom: 280px solid var(--hierarchy__middle-blue);
		border-left: 121.5px solid transparent;
		border-right: 121.5px solid transparent;
		top: 280px;
		width: 787px;
	}

	.hierarchy__left-anti-trapezoid {
		border-top: 840px solid transparent;
		border-right: 380px solid transparent;
		bottom: 0;
		top: -135px;
		left: -180.9px;
		position: absolute;
		z-index: 5;
		transform: rotate(23.7deg);
		width: 367px;
	}

	.hierarchy__right-anti-trapezoid {
		border-top: 840px solid transparent;
		border-right: 380px solid transparent;
		bottom: 0;
		top: -135px;
		right: -180.9px;
		position: absolute;
		z-index: 5;
		transform: rotate(-23.5deg);
		width: 367px;
	}

	.hierarchy__line-container {
		margin-top: -43.2px;
	}

	.hierarchy__first-position-container {
		height: 280px;
		left: 273px;
	}

	.hierarchy__second-position-container {
		height: 280px;
		left: 394px;
		top: 280px;
	}

	.hierarchy__third-position-container {
		height: 280px;
		left: 515px;
		top: 560px;
	}
}

@media screen and (min-width: 2600px) {
	.hierarchy__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}
}
