:root {
	--versions__black: #000000;
	--versions__white: #ffffff;
	--versions__border-color: #878787;
	--versions__blue: #143275;
}

body.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
		padding 0s, margin 0s !important;
}

.versions__grid {
	display: grid;
	grid-gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	margin: 0 15px;
}

.versions__heading {
	color: var(--versions__black);
	font-size: 30px;
	grid-column: 1 / -1;
	margin-bottom: 12px;
	margin-top: 12px;
	line-height: 1;
	text-align: left;
}

.versions__paragraph {
	font-size: 18px;
	color: var(--versions__black);
	line-height: 23px;
	grid-column: 1 / -1;
	text-align: left;
}

.versions__paragraph--desktop {
	display: none;
}

.versions__image-container {
	aspect-ratio: 16 / 9;
	grid-column: 1 / -1;
	position: relative;
	max-width: none;
	width: 100%;
}

.versions__buttons {
	border-radius: 50%;
	position: absolute;
	transition: width 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
		left 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
		right 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	white-space: nowrap;
	overflow: hidden;
}

.versions__active.versions__buttons {
	animation: animateBorder 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	border-radius: 18px;
}

.versions__image-container img {
	height: 100%;
	position: absolute;
	object-fit: contain;
	width: 100%;
}

.versions__button-wrapper {
	grid-column: 1 / -1;
	display: grid;
	height: 40px;
	gap: 15px;
	grid-template-columns: repeat(6, minmax(0, 45px));
	position: relative;
}

.versions__blue-logotype-btn {
	animation: reverseAnimateBorder 0.4s linear;
	background: var(--versions__blue);
	border: 1px solid var(--versions__blue);
	color: var(--versions__white);
	height: 40px;
	grid-column-start: 1;
	font-size: 17px;
	letter-spacing: 0;
	text-align: center;
	width: 160px;
}

.versions__white-logotype-btn {
	animation: reverseAnimateBorder 0.4s linear;
	background: var(--versions__white);
	border: 1px solid var(--versions__border-color);
	color: var(--versions__blue);
	font-size: 17px;
	height: 40px;
	letter-spacing: 0;
	text-align: center;
	width: 40px;
	left: 180px;
}

.versions__black-logotype-btn {
	animation: reverseAnimateBorder 0.4s linear;
	background: var(--versions__black);
	border: 1px solid var(--versions__black);
	color: var(--versions__white);
	font-size: 17px;
	height: 40px;
	grid-column-start: 5;
	letter-spacing: 0;
	text-align: center;
	width: 40px;
	left: 0;
}

#versions__blue-image {
	opacity: 1;
}

#versions__white-image {
	opacity: 0;
}

#versions__black-image {
	opacity: 0;
}

.versions__image {
	transition: opacity 0.4s linear;
}

.versions__legal {
	color: #1e1e1e;
	font-size: 14px;
	grid-column: 1 / -1;
	grid-row: 5;
}

@media screen and (min-width: 810px) {
	.versions__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 16px;
		margin: 0;
	}

	.versions__heading {
		grid-column: 1 / 5;
		margin: 0;
	}

	.versions__paragraph {
		grid-column: 5 / 13;
		max-width: 572px;
	}

	.versions__image-container {
		grid-column: 5 / 13;
	}

	.versions__button-wrapper {
		grid-column: 5 / 13;
	}

	.versions__legal {
		color: var(--versions__black);
		grid-column: 5 / 13;
		grid-row: 4;
		max-width: 572px;
	}
}

@media screen and (min-width: 1200px) {
	.versions__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}

	.versions__paragraph {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.versions__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 50px;
		padding: 43.2px;
	}

	.versions__button-wrapper,
	.versions__legal,
	.versions__paragraph--not-desktop:not(:first-of-type),
	.versions__paragraph:last-of-type {
		margin-top: -32px;
	}
}

@media screen and (min-width: 1600px) {
	.versions__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 52px;
	}
}

@media screen and (min-width: 1920px) {
	.versions__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}

	.versions__heading {
		font-size: 34px;
		line-height: 40px;
	}

	.versions__image-container {
		grid-row: 1;
		min-height: 673px;
	}

	.versions__button-wrapper {
		grid-row: 2;
		grid-column: 5 / 8;
		margin-top: -27px;
	}

	.versions__legal {
		font-size: 18px;
		line-height: 23px;
		grid-row: 2;
		grid-column: 8 / 12;
		margin-top: -27px;
	}

	.versions__paragraph {
		letter-spacing: 0.04px;
		grid-column: 5 / 9;
	}

	.versions__paragraph:last-of-type {
		margin-top: -17px;
	}

	.versions__paragraph--not-desktop {
		display: none;
	}

	.versions__paragraph--desktop {
		display: block;
		margin-top: -17px;
	}
}

@media screen and (min-width: 2600px) {
	.versions__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}

	.versions__button-wrapper {
		margin-top: -45px;
	}

	.versions__legal {
		margin-top: -45px;
	}

	.versions__paragraph:last-of-type {
		margin-top: -35px;
	}

	.versions__paragraph--desktop {
		margin-top: -35px;
	}
}

@keyframes animateBorder {
	0% {
		border-radius: 50%;
	}

	10% {
		border-radius: 18px;
	}

	100% {
		border-radius: 18px;
	}
}

@keyframes reverseAnimateBorder {
	0% {
		border-radius: 18px;
	}

	10% {
		border-radius: 18px;
	}

	100% {
		border-radius: 50%;
	}
}
