:root {
	--bdc__black: #000000;
	--bdc__white: #ffffff;
	--bdc__grey-hr: #878787;
	--bdc__light-grey-border: #cccccc;
}

.bdc__grid {
	display: grid;
	grid-gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	margin: 0 15px;
	padding: 25px 0;
}

#bdc__portrait_img,
#bdc__square_img,
#bdc__square-alt_img {
	opacity: 0;
}

.bdc__active {
	transition: opacity 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.bdc__heading {
	grid-column: 1 / -1;
	font-size: 34px;
	line-height: 30px;
}

.bdc__paragraph {
	font-size: 18px;
	grid-column: 1 / -1;
	line-height: 23px;
	margin-bottom: 18px;
}

.bdc__image-selection {
	aspect-ratio: 6.75 / 1;
	min-height: 50px;
	grid-column: 1 / -1;
	position: relative;
}

.bdc__image-selection img {
	height: 100%;
	object-fit: contain;
	position: absolute;
	width: 100%;
}

.bdc__hr {
	border-color: var(--bdc__light-grey-border);
	margin-bottom: 15px;
	grid-column: 1 / -1;
}

.bdc__selection {
	display: flex;
	flex-direction: column;
	grid-column: 1 / -1;
	margin-top: -15px;
}

.bdc__radio {
	background-image: url(Oval_big.svg);
	height: 22px;
	left: 5px;
	position: absolute;
	opacity: 1;
	transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1),
		transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	top: 5px;
	width: 22px;
	pointer-events: none;
}

.bdc__radio-button:checked + .bdc__radio {
	transform: scale(1);
	opacity: 1;
}

.bdc__radio-button:not(:checked) + .bdc__radio {
	transform: scale(0);
	opacity: 0;
}

.bdc__radio-button-wrapper {
	align-items: center;
	display: flex;
	font-size: 18px;
	color: var(--bdc__black);
	height: 32px;
	letter-spacing: 0.29px;
	margin-bottom: 15px;
	position: relative;
}

.bdc__radio-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--bdc__white);
	border: 1px solid var(--bdc__grey-hr);
	border-radius: 50%;
	margin: 0;
	height: 32px;
	margin-right: 10px;
	width: 32px;
}

@media screen and (min-width: 810px) {
	.bdc__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 25px 20px;
		padding-top: 16px;
		margin: 0;
	}

	.bdc__heading {
		grid-column: 1 / 3;
		width: 242px;
	}

	.bdc__paragraph {
		grid-column: 5 / 13;
		width: 595px;
	}

	.bdc__image-selection {
		/* height: 115px; */
		margin-bottom: 30px;
		/* width: 770px; */
	}

	.bdc__hr {
		margin-bottom: 0;
	}

	.bdc__radio {
		background-image: url(oval_small.svg);
		height: 16px;
		left: 4px;
		top: 8px;
		width: 16px;
	}

	.bdc__radio-button {
		height: 24px;
		width: 24px;
	}

	.bdc__selection {
		flex-direction: row;
		margin-top: -18.9px;
	}

	.bdc__radio-button-wrapper {
		margin-right: 19px;
	}
}

@media screen and (min-width: 1200px) {
	.bdc__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}

	.bdc__image-selection,
	.bdc__selection,
	.bdc__hr {
		grid-column: 5 / 13;
	}

	.bdc__paragraph {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.bdc__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 43.2px;
		padding: 50px;
	}

	.bdc__selection {
		margin-top: -43.2px;
	}
}

@media screen and (min-width: 1600px) {
	.bdc__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 52px;
	}
}

@media screen and (min-width: 1920px) {
	.bdc__heading {
		width: 500px;
	}

	.bdc__image-selection {
		grid-column: 5 / 13;
		/* height: 180px; */
		margin-bottom: 50px;
		/* width: 1200px; */
	}

	.bdc__selection {
		grid-column: 5 / 13;
		margin-bottom: 15px;
		margin-top: calc(-86.4px + 15px);
	}

	.bdc__hr {
		grid-column: 5 / 13;
		margin-top: -43.2px;
	}

	.bdc__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}
}

@media screen and (min-width: 2600px) {
	.bdc__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}
}
