:root {
	--expressions__black: #000000;
	--expressions__bg: #ececec;
	--expressions__arrow-bg: #143275;
	--expressions__arrow-hover-bg: #3ece7b;
}

.expressions__grid {
	background-color: var(--expressions__bg);
	display: grid;
	gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	padding: 30px 15px;
}

.expressions__heading {
	font-size: 30px;
	line-height: 40px;
	grid-column: 1 / -1;
}

.expressions__paragraph {
	grid-column: 1 / -1;
}

.expressions__photo-container {
	aspect-ratio: 16 / 9;
	height: auto;
	margin-bottom: 14px;
	overflow: hidden;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
}

.expressions-wrapper {
	grid-column: 1 / -1;
	overflow: hidden;
}

.expressions-wrapper * {
	box-sizing: border-box;
}

.expressions__photo {
	height: 100%;
	margin: auto;
	object-fit: cover;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: transform 0.6s cubic-bezier(0.34, 0.08, 0.25, 1);
	width: 100%;
	z-index: 100;
}

.expressions__photo.initial,
.expressions__photo.active {
	opacity: 1;
	position: relative;
	z-index: 900;
}

.expressions__animating {
	opacity: 1;
	transform: translateX(0%);
	z-index: 1200;
}

.expressions__animating-away {
	opacity: 1;
	z-index: 0;
}

.expressions__photo.prev {
	transform: translateX(100%);
}

.expressions__photo.next {
	transform: translateX(-100%);
}

.expressions__text-and-button-wrapper {
	justify-content: space-between;
	gap: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.expressions__card-paragraph {
	margin-bottom: 15px;
}

.expressions__card-paragraph--extra-margin {
	margin-bottom: 28px;
}

.expressions__button-wrapper,
.expressions__text-and-button-wrapper {
	align-items: center;
	color: var(--expressions__black);
	display: flex;
	flex-direction: row;
}

.expressions__paragraph,
.expressions__secondary-heading,
.expressions__card-paragraph {
	color: var(--expressions__black);
	font-size: 18px;
	line-height: 23px;
}

.expressions__button--prev,
.expressions__button--next {
	background-color: var(--expressions__arrow-bg);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	height: 32px;
	overflow: hidden;
	outline: none;
	transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	position: relative;
	z-index: 1001;
	width: 32px;
}

.expressions__button--prev {
	margin-right: 10px;
}

.expressions__button--prev::after,
.expressions__button--next::after {
	content: ' ';
	position: absolute;
	width: 16px;
	height: 14px;
	top: 50%;
	left: auto;
	right: auto;
	transform: translate(-50%, -50%);
}

.expressions__button--prev::after {
	transform: translate(-50%, -50%) rotate(180deg);
}

.expressions__button--next:hover,
.expressions__button--prev:hover {
	background-color: var(--expressions__arrow-hover-bg);
}

.expressions__button--next::after {
	animation: antiRightButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_White.svg);
}

.expressions__button--prev::after {
	animation: antiLeftButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_White.svg);
}

.expressions__button--prev:hover::after {
	animation: leftButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_Black.svg);
}

.expressions__button--next:hover::after {
	animation: rightButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_Black.svg);
}

@media screen and (min-width: 810px) {
	.expressions__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 16px;
		margin: 0;
	}

	.expressions__heading {
		grid-column: 1 / 4;
	}

	.expressions__paragraph {
		grid-column: 5 / 13;
	}

	.expressions__photo-container {
		height: auto;
		aspect-ratio: 16 / 9;
	}

	.expressions-wrapper {
		grid-column: span 6;
	}
}

@media screen and (min-width: 1200px) {
	.expressions__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}

	.expressions__paragraph,
	.expressions__secondary-heading,
	.expressions__card-paragraph {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.expressions__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 43.2px;
		padding: 50px;
	}

	.expressions__photo-container {
		aspect-ratio: 1 / 1;
	}

	.expressions__text-and-button-wrapper {
		margin-bottom: 30px;
	}

	.expressions__heading {
		font-size: 34px;
		grid-column: span 6;
		line-height: 40px;
	}

	.expressions__paragraph {
		grid-column: span 6;
	}

	.expressions__card-paragraph {
		margin-bottom: 15px;
	}

	.expressions-wrapper {
		margin-top: -10px;
		grid-column: span 3;
	}
}

@media screen and (min-width: 1600px) {
	.expressions__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 44px 52px;
	}
}

@media screen and (min-width: 1920px) {
	.expressions__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}
}

@media screen and (min-width: 2600px) {
	.expressions__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}
}

@keyframes leftButtonAnimation {
	0% {
		left: 50%;
		background-image: url(Arrow_White.svg);
	}

	49% {
		left: -25%;
		background-image: url(Arrow_White.svg);
		right: auto;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		left: auto;
		right: -75%;
	}

	100% {
		right: 0px;
	}
}

@keyframes rightButtonAnimation {
	0% {
		background-image: url(Arrow_White.svg);
		right: 0px;
	}

	49% {
		background-image: url(Arrow_White.svg);
		right: -75%;
		left: auto;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		right: auto;
		left: -25%;
	}

	100% {
		left: 50%;
	}
}

@keyframes antiLeftButtonAnimation {
	0% {
		background-image: url(Arrow_Black.svg);
		left: 50%;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		left: -25%;
		right: auto;
	}

	51% {
		background-image: url(Arrow_White.svg);
		left: auto;
		right: -75%;
	}

	100% {
		right: 0px;
	}
}

@keyframes antiRightButtonAnimation {
	0% {
		background-image: url(Arrow_Black.svg);
		right: 0px;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		left: auto;
		right: -75%;
	}

	51% {
		background-image: url(Arrow_White.svg);
		left: -25%;
		right: auto;
	}

	100% {
		left: 50%;
	}
}
