:root {
	--white-logotype__black: #000000;
	--white-logotype__white: #ffffff;
	--white-logotype__blue: #143275;
	--white-logotype__hover: #3ece7b;
}

.white-logotype__grid {
	background-color: var(--white-logotype__white);
	display: grid;
	grid-gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	padding: 30px 15px;
}

.white-logotype-wrapper {
	overflow: hidden;
}

.white-logotype-wrapper * {
	box-sizing: border-box;
}

.white-logotype__heading {
	color: var(--white-logotype__black);
	font-size: 34px;
	grid-column: 1 / -1;
	line-height: 40px;
}

.white-logotype__paragraph,
.white-logotype__card-paragraph {
	font-size: 18px;
	color: var(--white-logotype__black);
	line-height: 23px;
	margin-bottom: 15px;
	grid-column: 1 / -1;
}

.white-logotype__secondary-heading {
	color: var(--white-logotype__black);
	font-size: 24px;
	grid-column: 1 / -1;
	margin-bottom: 15px;
}

.white-logotype-wrapper {
	margin-top: -15px;
	grid-column: 1 / -1;
}

.white-logotype__photo-container {
	min-height: 200px;
	margin-bottom: 12px;
	overflow: hidden;
	transform-style: preserve-3d;
	width: 100%;
	aspect-ratio: 16 / 9;
}

.white-logotype__photo {
	height: 100%;
	margin: auto;
	object-fit: cover;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: transform 0.6s cubic-bezier(0.34, 0.08, 0.25, 1);
	width: 100%;
	z-index: 100;
}

.white-logotype__photo.initial,
.white-logotype__photo.active {
	opacity: 1;
	position: relative;
	z-index: 900;
}

.white-logotype__animating {
	opacity: 1;
	transform: translateX(0%);
	z-index: 1200;
}

.white-logotype__animating-away {
	opacity: 1;
	z-index: 0;
}

.white-logotype__photo.prev {
	transform: translateX(100%);
}

.white-logotype__photo.next {
	transform: translateX(-100%);
}

.white-logotype__first-container {
	justify-content: space-between;
	margin-bottom: 10px;
	width: 100%;
}

.white-logotype__button-wrapper,
.white-logotype__first-container {
	color: var(--white-logotype__black);
	display: flex;
	flex-direction: row;
}

.white-logotype__first-container {
	flex-direction: row-reverse;
}

.white-logotype__button--prev,
.white-logotype__button--next {
	background-color: var(--white-logotype__blue);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	height: 32px;
	overflow: hidden;
	outline: none;
	transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	position: relative;
	z-index: 1001;
	width: 32px;
}

.white-logotype__button--prev {
	margin-right: 10px;
}

.white-logotype__button--prev::after,
.white-logotype__button--next::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 14px;
	top: 50%;
	left: auto;
	right: auto;
	transform: translate(-50%, -50%);
}

.white-logotype__button--prev::after {
	transform: translate(-50%, -50%) rotate(180deg);
}

.white-logotype__button--next:hover {
	background-color: var(--white-logotype__hover);
}

.white-logotype__button--prev:hover {
	background-color: var(--white-logotype__hover);
}

.white-logotype__button--next::after {
	animation: antiRightButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_White.svg);
}

.white-logotype__button--prev::after {
	animation: antiLeftButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_White.svg);
}

.white-logotype__button--prev:hover::after {
	animation: leftButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_Black.svg);
}

.white-logotype__button--next:hover::after {
	animation: rightButtonAnimation 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	background-image: url(Arrow_Black.svg);
}

.preload .white-logotype__button--next::after,
.preload .white-logotype__button--prev::after {
	animation: none;
}

@media screen and (min-width: 810px) {
	.white-logotype__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 16px;
		margin: 0;
	}

	.white-logotype__heading {
		grid-column: 1 / 4;
	}

	.white-logotype__secondary-heading {
		margin: 0;
		margin-top: -22px;
	}

	.white-logotype__paragraph {
		grid-column: 5 / 13;
	}

	.white-logotype__paragraph:nth-child(3) {
		margin-top: -22px;
		margin-bottom: 0;
	}

	.white-logotype__card-paragraph {
		margin: 0;
		width: 640px;
	}

	.white-logotype__photo-container {
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 1200px) {
	.white-logotype__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}

	.white-logotype__paragraph {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.white-logotype__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 43.2px;
		padding: 50px;
	}

	.white-logotype__paragraph:nth-child(3) {
		margin-top: -43.2px;
	}

	.white-logotype__paragraph {
		grid-column: 5 / 8;
	}

	.white-logotype__secondary-heading {
		margin-top: -52px;
	}

	.white-logotype__photo-container {
		margin-bottom: 9px;
	}

	.white-logotype__card-paragraph {
		width: 730px;
	}

	.white-logotype-wrapper {
		grid-column: span 6;
		margin-top: -52px;
	}
}

@media screen and (min-width: 1600px) {
	.white-logotype__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 44px 52px;
	}
}

@media screen and (min-width: 1920px) {
	.white-logotype__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}
}

@media screen and (min-width: 2600px) {
	.white-logotype__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}
}

@keyframes leftButtonAnimation {
	0% {
		left: 50%;
		background-image: url(Arrow_White.svg);
	}

	49% {
		left: -25%;
		background-image: url(Arrow_White.svg);
		right: auto;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		left: auto;
		right: -75%;
	}

	100% {
		right: 0px;
	}
}

@keyframes rightButtonAnimation {
	0% {
		background-image: url(Arrow_White.svg);
		right: 0px;
	}

	49% {
		background-image: url(Arrow_White.svg);
		right: -75%;
		left: auto;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		right: auto;
		left: -25%;
	}

	100% {
		left: 50%;
	}
}

@keyframes antiLeftButtonAnimation {
	0% {
		background-image: url(Arrow_Black.svg);
		left: 50%;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		left: -25%;
		right: auto;
	}

	51% {
		background-image: url(Arrow_White.svg);
		left: auto;
		right: -75%;
	}

	100% {
		right: 0px;
	}
}

@keyframes antiRightButtonAnimation {
	0% {
		background-image: url(Arrow_Black.svg);
		right: 0px;
	}

	50% {
		background-image: url(Arrow_Black.svg);
		left: auto;
		right: -75%;
	}

	51% {
		background-image: url(Arrow_White.svg);
		left: -25%;
		right: auto;
	}

	100% {
		left: 50%;
	}
}
