:root {
	--shapes__black: #000000;
	--shapes__hr-color: #cccccc;
	--shapes__white: #ffffff;
	--shapes__border-color: #878787;
}

.shapes {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	padding: 15px;
	padding-bottom: 25px;
}

.shapes__heading {
	font-size: 30px;
	color: var(--shapes__black);
	margin-bottom: 12px;
}

.shapes__info {
	font-size: 18px;
	color: var(--shapes__black);
	line-height: 23px;
	margin-bottom: 20px;
	width: 100%;
}

.shapes__hr {
	border-color: var(--shapes__hr-color);
}

.shapes__background {
	aspect-ratio: 1/1;
	background-image: url(Icons_Grid_BG.svg);
	background-size: cover;
	margin-bottom: 9px;
	max-width: 572px;
	position: relative;
	width: 100%;
}

.shapes__first-hr {
	grid-column: 1/-1;
	margin-bottom: 7px;
}

.shapes__letter,
.shapes__letter-margin,
.shapes__mediabank,
.shapes__mediabank-margin,
.shapes__world,
.shapes__world-margin {
	position: absolute;
	left: 50%;
	width: 100%;
	max-width: 572px;
	transform: translate(-50%, -50%);
	top: 50%;
	opacity: 0;
}

.shapes__user,
.shapes__user-margin {
	animation: animateIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
	left: 50%;
	max-width: 572px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	width: 100%;
}

@keyframes animateIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.shapes__selection {
	display: flex;
	flex-direction: column;
}

.shapes__selection-heading {
	font-size: 24px;
	color: var(--shapes__black);
	margin-bottom: 7px;
	line-height: 29px;
}

.shapes__radio-button-wrapper {
	align-items: center;
	display: flex;
	font-size: 18px;
	color: var(--shapes__black);
	height: 32px;
	letter-spacing: 0.29px;
	margin-bottom: 15px;
	position: relative;
}

.shapes__last-radio-wrapper {
	margin-bottom: 0;
}

.shapes__radio-button {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--shapes__white);
	border: 1px solid var(--shapes__border-color);
	border-radius: 50%;
	margin: 0;
	height: 32px;
	margin-right: 10px;
	width: 32px;
}

.shapes__radio {
	background-image: url(Oval_big.svg);
	height: 22px;
	left: 5px;
	position: absolute;
	opacity: 1;
	transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1),
		transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	top: 5px;
	width: 22px;
	pointer-events: none;
}

.shapes__radio-button:checked + .shapes__radio {
	opacity: 1;
	transform: scale(1);
}

.shapes__radio-button:not(:checked) + .shapes__radio {
	opacity: 0;
	transform: scale(0);
}

.grid-shape {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--shapes__white);
	background-image: url(checkbox_big_frame.svg);
	border-radius: 5.33px;
	margin: 0;
	height: 32px;
	margin-right: 10px;
	width: 32px;
}

.shapes__checkmark {
	background-image: url(checkmark.svg);
	background-size: cover;
	height: 18px;
	left: 4px;
	position: absolute;
	top: 8px;
	transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
	opacity: 0;
	width: 24px;
}

.grid-shape:checked + .shapes__checkmark {
	opacity: 1;
}

.grid-shape:not(:checked) + .shapes__checkmark {
	opacity: 0;
}

.shapes__last-hr {
	margin-bottom: 15px;
	margin-top: 15px;
}

.grid-shape-wrapper {
	align-items: center;
	color: var(--shapes__black);
	display: flex;
	font-size: 18px;
	letter-spacing: 0.1px;
	line-height: 23px;
	position: relative;
}

@media screen and (min-width: 810px) {
	.shapes {
		grid-gap: 22px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 0;
	}

	.shapes__first-hr {
		margin-top: 20px;
		margin-bottom: -13px;
	}

	.shapes__heading {
		font-size: 30px;
		text-align: left;
		line-height: 40px;
		grid-column: span 4;
	}

	.shapes__info {
		grid-column: span 8;
		margin-bottom: 0;
		width: 572px;
	}

	.shapes__background {
		grid-column: span 6;
		margin-bottom: 0;
	}

	.shapes__selection {
		grid-column: span 6;
	}

	.shapes__radio-button {
		height: 24px;
		width: 24px;
	}

	.shapes__radio {
		background-image: url(oval_small.svg);
		height: 16px;
		left: 4px;
		top: 8px;
		width: 16px;
	}

	.grid-shape {
		background-image: url(checkbox_frame.svg);
		border-radius: 4px;
		height: 24px;
		width: 24px;
	}

	.shapes__checkmark {
		height: 12px;
		left: 4px;
		top: 7px;
		width: 16px;
	}
}

@media screen and (min-width: 1200px) {
	.shapes {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 20px;
	}

	.shapes__info {
		font-size: 24px;
		line-height: 29px;
	}
}

@media screen and (min-width: 1400px) {
	.shapes {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 50px;
		padding: 50px;
	}
}

@media screen and (min-width: 1600px) {
	.shapes {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 52px;
	}
}

@media screen and (min-width: 1920px) {
	.shapes {
		grid-gap: 52px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
		padding-top: 0;
	}

	.shapes__first-hr {
		margin-top: 50px;
		margin-bottom: -34px;
	}

	.shapes__heading {
		font-size: 34px;
		text-align: left;
		line-height: 40px;
		grid-column: span 4;
	}

	.shapes__background {
		margin-top: -2px;
		grid-column: 5 / 9;
	}

	.shapes__selection {
		margin-top: -2px;
		grid-column: 9 / 12;
	}
}

@media screen and (min-width: 2600px) {
	.shapes {
		grid-gap: 70px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 0 68px;
	}

	.shapes__background,
	.shapes__selection {
		margin-top: -22px;
	}
}
