:root {
	--split__white: #ffffff;
	--split__blue: #143275;
	--split__black: #000000;
}

.split__container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 62px);
	position: relative;
}

.split__item-img-wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}

.split__item-img-wrapper img {
	border-style: none;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.split__img--mobile {
	object-position: top;
}

@media screen and (min-width: 1200px) {
	.split__img--mobile,
	.split__logo--mobile {
		display: none;
	}
}

@media screen and (max-width: 1023px) {
	.split__img--desktop,
	.split__logo--desktop {
		display: none;
	}
}

.split__item {
	overflow: hidden;
	position: absolute;
	transition: top 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
		bottom 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
	width: 100%;
}

.split__text-wrapper {
	color: var(--split__blue);
	height: 100%;
	position: relative;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.split__item {
		transition: left 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
			right 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
	}
}

@media screen and (min-width: 1200px) {
	.split__item {
		width: auto;
	}
}

.split__item-title {
	bottom: 15px;
	font-size: 18px;
	right: 15px;
	position: absolute;
	text-decoration: underline;
	color: var(--split__white);
}

@media screen and (min-width: 1200px) {
	.split__item-title {
		left: 20px;
	}
}

@media screen and (min-width: 1400px) {
	.split__item-title {
		left: 50px;
	}
}

.split__blue-text {
	color: var(--split__blue);
}

.split__skanska-title {
	bottom: 0;
	left: 0;
	transition: left 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
		right 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
	padding-left: 15px;
	position: absolute;
	transform: translateY(-40%);
	width: 226px;
}

@media screen and (min-width: 1200px) {
	.split__skanska-title {
		bottom: auto;
		transform: translateY(-50%);
		padding-left: 0;
	}
}

/* classes for animating in text container */

.split__fade-in-text,
.split__skanska-title {
	font-size: 50px;
	font-weight: 500;
	line-height: 50px;
}

.split__fade-in-text-container {
	align-items: center;
	display: flex;
	inset: 0;
	height: calc(100vh - 62px);
	position: fixed;
	text-align: center;
	top: 0;
	pointer-events: none;
	width: 100vw;
}

@media screen and (min-width: 810px) {
	.split__container,
	.fade-in__text-container {
		max-height: calc(100vh - 62px);
	}
}

@media screen and (min-width: 1200px) {
	.fade-in__text-container {
		height: auto;
		position: absolute;
	}
}

.split__fade-in-text {
	left: -100%;
	position: absolute;
	opacity: 0;
	transition: left 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
		opacity 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
		right 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.split__fade-in-text {
		transition: left 0.9s cubic-bezier(0.25, 0.1, 0.25, 1),
			opacity 0.45s cubic-bezier(0.25, 0.1, 0.25, 1),
			right 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
		left: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.split__fade-in-text {
		left: 40%;
	}
}

@media screen and (min-width: 1440px) {
	.split__fade-in-text {
		left: 15%;
	}
}

/* split__animated classes */

.split__animated .split__skanska-title {
	left: -60%;
}

@media screen and (min-width: 810px) {
	.split__animated .split__skanska-title {
		left: -50%;
	}
}

.split__animated .split__fade-in-text {
	opacity: 1;
	left: 0%;
}

@media screen and (min-width: 810px) {
	.split__skanska-title {
		transform: translateY(-15%);
		padding-left: 20px;
	}
}

@media screen and (min-width: 810px) {
	.split__skanska-title,
	.split__fade-in-text {
		font-size: 100px;
		line-height: 90px;
	}
}

@media screen and (min-width: 1200px) {
	.split__skanska-title {
		top: 50%;
		transform: translateY(-50%);
	}
}

@media screen and (min-width: 1200px) {
	.split__skanska-title,
	.split__fade-in-text {
		line-height: 90px;
	}
}

@media screen and (min-width: 1400px) {
	.split__skanska-title {
		padding-left: 50px;
	}
}
@media screen and (min-width: 1600px) {
	.split__skanska-title,
	.split__fade-in-text {
		font-size: 110px;
		line-height: 110px;
	}
}

@media screen and (min-width: 1920px) {
	.split__skanska-title,
	.split__fade-in-text {
		font-size: 130px;
		line-height: 120px;
	}
}

@media screen and (min-width: 2600px) {
	.split__skanska-title,
	.split__fade-in-text {
		font-size: 170px;
		line-height: 170px;
	}
}

.split__first-item {
	align-items: center;
	background: var(--split__white);
	bottom: 0;
	display: flex;
	top: 66%;
}

.split__first-item__heading {
	color: var(--split__blue);
	font-size: 50px;
	font-weight: 500;
	line-height: 50px;
	padding-left: 15px;
	width: fit-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.split__second-item {
	bottom: 67%;
	top: 0%;
}

.split__third-item {
	bottom: 34%;
	top: 33%;
}

@media screen and (min-width: 1200px) {
	.split__first-item {
		bottom: 0;
		left: 0%;
		top: 0;
		right: 67%;
	}

	.split__second-item {
		bottom: 0;
		left: 33%;
		top: 0;
		right: 33%;
	}

	.split__third-item {
		bottom: 0;
		left: 67%;
		top: 0;
		right: 0%;
	}
}

.split__animated {
	bottom: 0;
	top: 0;
	position: absolute;
	/* this z-index makes the animation overlay the other containers */
	z-index: 3 !important;
}

@media screen and (min-width: 1200px) {
	.split__animated {
		left: 0;
		right: 0;
	}
}

.split__hidden-element {
	display: none;
}

.split__hidden-content {
	display: none;
	left: 0;
	top: 0;
	position: absolute;
}

.split__animated > .split__hidden-content {
	display: block;
	height: 100%;
	width: 100%;
}

.split__item-video {
	background: var(--split__black);
	display: none;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.split__item-video source {
	pointer-events: none;
}

.split__item-image-container {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.split__item-play-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-in-out;
}

.split__item-play-button {
	cursor: pointer;
}

.split__item-play-title {
	color: var(--split__white);
	cursor: default;
	font-size: 18px;
	margin-top: 15px;
}

.split__item-playback-container {
	cursor: pointer;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-in-out;
	z-index: 10;
}

#split__video-text {
	transition: opacity 0.5s ease-in-out;
}

.split__fade-out--opacity {
	opacity: 0;
}

.split__fade-in--opacity {
	opacity: 1;
}

.split__panorama-image {
	background: url(NY_big_skanska_logo.svg) -260px repeat-x;
	background-size: cover;
	height: 100%;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.split__panorama-image {
		background: url(NY_big_skanska_logo_Dt.svg) -60px repeat-x;
		background-size: cover;
	}
}

.split__animated .split__panorama-image {
	/* change this timer to set lower/higher speed to animation  */
	animation: animatePanoramaImage 35s linear infinite;
	-moz-animation: animatePanoramaImage 35s linear infinite;
	-ms-animation: animatePanoramaImage 35s linear infinite;
	-o-animation: animatePanoramaImage 35s linear infinite;
	-webkit-animation: animatePanoramaImage 35s linear infinite;
	background-size: cover;
}

/* All of these percent values, are estimates to what looks good to my eye. If something looks weird, fiddle with them */
@keyframes animatePanoramaImage {
	0% {
		background-position: -260px 0;
	}

	100% {
		background-position: 107% 0;
	}
}

@media screen and (min-width: 768px) {
	@keyframes animatePanoramaImage {
		0% {
			background-position: -260px 0;
		}

		100% {
			background-position: 115% 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	@keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 112% 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	@keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 118% 0;
		}
	}
}

@-moz-keyframes animatePanoramaImage {
	0% {
		background-position: -260px 0;
	}

	100% {
		background-position: 107% 0;
	}
}

@media screen and (min-width: 768px) {
	@-moz-keyframes animatePanoramaImage {
		0% {
			background-position: -260px 0;
		}

		100% {
			background-position: 115% 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	@-moz-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 112% 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	@-moz-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 118% 0;
		}
	}
}

@-ms-keyframes animatePanoramaImage {
	0% {
		background-position: -260px 0;
	}

	100% {
		background-position: 107% 0;
	}
}

@media screen and (min-width: 768px) {
	@-ms-keyframes animatePanoramaImage {
		0% {
			background-position: -260px 0;
		}

		100% {
			background-position: 115% 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	@-ms-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 112% 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	@-ms-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 118% 0;
		}
	}
}

@-o-keyframes animatePanoramaImage {
	0% {
		background-position: -260px 0;
	}

	100% {
		background-position: 107% 0;
	}
}

@media screen and (min-width: 768px) {
	@-o-keyframes animatePanoramaImage {
		0% {
			background-position: -260px 0;
		}

		100% {
			background-position: 115% 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	@-o-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 112% 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	@-o-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 118% 0;
		}
	}
}

@-moz-keyframes animatePanoramaImage {
	0% {
		background-position: -260px 0;
	}

	100% {
		background-position: 107% 0;
	}
}

@media screen and (min-width: 768px) {
	@-moz-keyframes animatePanoramaImage {
		0% {
			background-position: -260px 0;
		}

		100% {
			background-position: 115% 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	@-moz-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 112% 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	@-moz-keyframes animatePanoramaImage {
		0% {
			background-position: -60px 0;
		}

		100% {
			background-position: 118% 0;
		}
	}
}
