:root {
	--brand-platform__bg: #143275;
	--brand-platform__white: #ffffff;
	--brand-platform__hover-color: #3ece7b;
	--brand-platform__black: #000000;
}

.brand-platform__grid {
	background-color: var(--brand-platform__bg);
	color: var(--brand-platform__white);
	display: grid;
	grid-gap: 13.5px;
	grid-template-columns: repeat(6, minmax(45px, 1fr));
	padding: 30px 15px;
}

.brand-platform__heading {
	color: var(--brand-platform__white);
	grid-column: 1 / -1;
}

.brand-platform__button-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: 1 / -1;
	grid-gap: 15px;
}

.brand-platform__quarter-width,
.brand-platform__half-width,
.brand-platform__full-width {
	font-weight: 100;
	font-size: 14px;
	height: 200px;
	padding: 30px;
	position: relative;
}

.brand-platform__inner-text {
	font-size: 16px;
}

.brand-platform__content-block {
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	width: 80%;
}

.brand-platform__bg {
	border: 1px solid var(--brand-platform__white);
	background-color: transparent;
	position: absolute;
	inset: 0;
	transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.brand-platform__quarter-width:hover .brand-platform__bg,
.brand-platform__half-width:hover .brand-platform__bg,
.brand-platform__full-width:hover .brand-platform__bg {
	background-color: var(--brand-platform__hover-color);
	border-color: transparent;
	transform: scale(1.02);
}

.brand-platform__quarter-width:hover .brand-platform__content-block,
.brand-platform__half-width:hover .brand-platform__content-block,
.brand-platform__full-width:hover .brand-platform__content-block {
	color: var(--brand-platform__black);
}

.brand-platform__quarter-width {
	grid-column: span 1;
}

.brand-platform__half-width {
	grid-column: span 1;
}

.brand-platform__full-width {
	grid-column: span 2;
}

@media screen and (min-width: 810px) {
	.brand-platform__grid {
		grid-gap: 18.9px;
		grid-template-columns: repeat(12, minmax(44px, 1fr));
		padding: 20px;
		padding-top: 16px;
		margin: 0;
	}

	.brand-platform__quarter-width,
	.brand-platform__half-width,
	.brand-platform__full-width {
		height: 120px;
	}

	.brand-platform__button-container {
		grid-template-columns: repeat(4, 1fr);
		grid-column: 1 / -1;
		grid-gap: 20px;
	}

	.brand-platform__quarter-width {
		grid-column: span 1;
	}

	.brand-platform__half-width {
		grid-column: span 2;
	}

	.brand-platform__full-width {
		grid-column: span 4;
	}
}

@media screen and (min-width: 1200px) {
	.brand-platform__grid {
		grid-template-columns: repeat(12, minmax(78px, 1fr));
		grid-gap: 18px;
	}
}

@media screen and (min-width: 1400px) {
	.brand-platform__grid {
		grid-template-columns: repeat(12, minmax(64px, 1fr));
		grid-gap: 43.2px;
		padding: 50px;
	}
}

@media screen and (min-width: 1600px) {
	.brand-platform__grid {
		grid-template-columns: repeat(12, minmax(79px, 1fr));
		padding: 44px 52px;
	}
}

@media screen and (min-width: 1920px) {
	.brand-platform__grid {
		grid-gap: 45px;
		grid-template-columns: repeat(12, minmax(104px, 1fr));
	}

	.brand-platform__quarter-width,
	.brand-platform__half-width,
	.brand-platform__full-width {
		font-size: 18px;
		height: 120px;
		padding: 30px;
	}

	.brand-platform__inner-text {
		font-size: 20px;
	}

	.brand-platform__button-container {
		grid-gap: 30px;
		grid-template-columns: repeat(4, 1fr);
	}

	.brand-platform__heading {
		color: var(--brand-platform__white);
		grid-column: 1 / 5;
	}
}

@media screen and (min-width: 2600px) {
	.brand-platform__grid {
		grid-gap: 60.75px;
		grid-template-columns: repeat(12, minmax(141px, 1fr));
		padding: 50px 68px;
	}
}
