* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:root {
	--slider-width: 46px;
	/* Set this relative to your container */
	--mobile--full-width: calc(100vw - 30px);
	--tablet--full-width: calc(100vw - 40px);
	--desktop--full-width: calc(100vw - 100px);
	--mobile-half-width: calc(50vw - 15px);
	--tablet--half-width: calc(50vw - 20px);
	--desktop--half-width: calc(50vw - 50px);
}

.comparison__container {
	margin: 0 auto;
	position: relative;
	width: var(--mobile--full-width);
}

.comparison__container img,
.comparison__container video {
	border-style: none;
	max-width: none;
}

.comparison__img-wrapper {
	width: auto;
	height: auto;
	overflow: hidden;
}

.comparison__overlay {
	position: absolute;
	top: 0;
}

.comparison__img-wrapper img {
	margin: 0 auto;
	width: var(--mobile--full-width);
}

@media screen and (min-width: 810px) {
	.comparison__img-wrapper,
	.comparison__img-wrapper img,
	.comparison__container {
		width: var(--tablet--full-width);
	}
}

@media screen and (min-width: 1920px) {
	.comparison__img-wrapper,
	.comparison__img-wrapper img,
	.comparison__container {
		width: var(--desktop--full-width);
	}
}

.comparison__slider {
	cursor: ew-resize;
	height: var(--slider-width);
	position: absolute;
	width: var(--slider-width);
	z-index: 9;
}

.animateSlider {
	animation: mobileSliderAnimation 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.animateImg {
	animation: mobileImgSliderAnimation 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@media screen and (min-width: 810px) {
	.animateSlider {
		animation-name: tabletSliderAnimation;
	}

	.animateImg {
		animation-name: tabletImgSliderAnimation;
	}
}

@media screen and (min-width: 1920px) {
	.animateSlider {
		animation-name: desktopSliderAnimation;
	}

	.animateImg {
		animation-name: desktopImgSliderAnimation;
	}
}

@keyframes mobileImgSliderAnimation {
	0% {
		width: 0px;
	}
	100% {
		width: var(--mobile-half-width);
	}
}

@keyframes tabletImgSliderAnimation {
	0% {
		width: 0px;
	}
	100% {
		width: var(--tablet--half-width);
	}
}

@keyframes desktopImgSliderAnimation {
	0% {
		width: 0px;
	}
	100% {
		width: var(--desktop--half-width);
	}
}

@keyframes mobileSliderAnimation {
	0% {
		left: -20px;
	}

	100% {
		left: calc(var(--mobile-half-width) - var(--slider-width) / 2);
	}
}

@keyframes tabletSliderAnimation {
	0% {
		left: -20px;
	}

	100% {
		left: calc(var(--tablet--half-width) - var(--slider-width) / 2);
	}
}

@keyframes desktopSliderAnimation {
	0% {
		left: -20px;
	}

	100% {
		left: calc(var(--desktop--half-width) - var(--slider-width) / 2);
	}
}
